<html>

<head>
  <title>Campuswire Lite | Sign Up</title>
  <link rel="stylesheet" type="text/css" href="/static/styles/styles.css" />
</head>

<body>
  <div class="container">
    <h1>Sign up</h1>
    <form method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" />
      <button type="submit" class="btn">Sign Up</button>
    </form>
    <p>Already have an account? <a href="/account/login">Log in here!</a></p>
  </div>
</body>

</html>